*.pyc
.venv
.vscode
.mypy_cache
.coverage
coverage.xml
htmlcov
.pytest_cache
.ruff_cache

dist
build
*.egg-info
*.whl
*.tar.gz
test.py

docs/site
site/

.DS_Store
.idea
local_install.sh
**/__pycache__